@model MvcCv.Models.Entity.TblSosyalMedya

@{
    ViewBag.Title = "SayfayiGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<form method="post">
    @Html.Label("Sosyal Medya Adı")
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    @Html.Label("Link")
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
    <br />
    @Html.Label("İkon")
    @Html.TextBoxFor(x => x.ikon, new { @class = "form-control" })
    <br/>
    <button class="btn btn-success">Güncelle</button>
</form>